--extra-index-url https://download.pytorch.org/whl/cu121

absl-py
accelerate
alabaster
albumentations
altair
anyio
appdirs
diffusers
gensim
geographiclib
geopy
gin-config
glob2
graphviz
greenlet
grpcio
grpcio-status
gspread
gspread-dataframe
gym
gym-notices
h5netcdf
h5py
hijri-converter
holidays
holoviews
html5lib
httpimport
httplib2
humanize
hyperopt
idna
imageio
imageio-ffmpeg
imagesize
imbalanced-learn
imgaug
importlib-resources
imutils
inflect
iniconfig
intel-openmp
ipykernel
ipython
ipython-genutils
ipython-sql
ipywidgets
itsdangerous
jieba
Jinja2
joblib
jsonpickle
jsonschema
jupyter-client
jupyter-console
jupyter-server
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
kaggle
keras
kiwisolver
langcodes
lazy_loader
libclang
librosa
lightgbm
lit
llvmlite
locket
logical-unification
LunarCalendar
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
matplotlib-venn
mdurl
miniKanren
missingno
mistune
mizani
mkl
ml-dtypes
mlxtend
more-itertools
moviepy
mpmath
msgpack
multipledispatch
multitasking
murmurhash
music21
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
nltk
notebook
numba
numexpr
numpy
nvidia-ml-py3
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opt-einsum
optax
orbax-checkpoint
osqp
packaging
palettable
pandas
pandas-datareader
pandas-gbq
pandocfilters
panel
param
parso
partd
pathlib
pathy
patsy
peft
pexpect
pickleshare
Pillow
pip-tools
platformdirs
plotly
plotnine
pluggy
polars
pooch
portpicker
prefetch-generator
preshed
prettytable
proglog
progressbar2
prometheus-client
promise
prompt-toolkit
prophet
proto-plus
protobuf
psutil
ptyprocess
py-cpuinfo
py4j
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycparser
pyct
pydantic
pydot
pydot-ng
pydotplus
python-dateutil
python-slugify
python-utils
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
pyviz-comms
pyzmq
qdldl
qudida
regex
requests
requests-oauthlib
requests-unixsocket
requirements-parser
rich
scipy
scs
seaborn
Send2Trash
shapely
six
sklearn-pandas
smart-open
sniffio
snowballstemmer
sortedcontainers
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
Sphinx
statsmodels
sympy
tables
tabulate
tblib
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorrt
termcolor
terminado
text-unidecode
textblob
tf-slim
thinc
threadpoolctl
tifffile
tinycss2
toml
tomli
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
tweepy
typer
types-setuptools
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
Werkzeug
widgetsnbextension
wordcloud
wrapt
xformers
xgboost
xlrd
yellowbrick
yfinance
zict
zipp
